<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">To-do App</h1>

        <form action="/add" method="post" class="mb-4">
            <div class="form-group">
                <label for="todoTitle">Todo Title</label>
                <input type="text" name="title" id="todoTitle" class="form-control" placeholder="Enter To-do..." required>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ todo.title }}</h5>
                <p class="card-text">
                    {% if not todo.complete %}
                    <span class="badge badge-secondary">Not Complete</span>
                    {% else %}
                    <span class="badge badge-success">Completed</span>
                    {% endif %}
                </p>
                <a class="btn btn-warning" href="/update/{{ todo.id }}">Update</a>
                <a class="btn btn-danger" href="/delete/{{ todo.id }}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
